[submodule "sc-exploits-minimized/lib/forge-std"]
	path = sc-exploits-minimized/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sc-exploits-minimized/lib/openzeppelin-contracts"]
	path = sc-exploits-minimized/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "sc-exploits-minimized/lib/kontrol-cheatcodes"]
	path = sc-exploits-minimized/lib/kontrol-cheatcodes
	url = https://github.com/runtimeverification/kontrol-cheatcodes
[submodule "2-math-master-audit/lib/forge-std"]
	path = 2-math-master-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "1-horse-store-s23/lib/openzeppelin-contracts"]
	path = 1-horse-store-s23/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "1-horse-store-s23/lib/huffmate"]
	path = 1-horse-store-s23/lib/huffmate
	url = https://github.com/huff-language/huffmate
[submodule "1-horse-store-s23/lib/foundry-huff"]
	path = 1-horse-store-s23/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "3-gas-bad-nft-marketplace-audit/lib/forge-std"]
	path = 3-gas-bad-nft-marketplace-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "3-gas-bad-nft-marketplace-audit/lib/openzeppelin-contracts"]
	path = 3-gas-bad-nft-marketplace-audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
